body {
    font-family: 'Lato', sans-serif;
}

.header-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fafafa;
    color: black;
}

.row.header-wrapper-navbar {
    float: right;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* bootstrap에서 제공하는 dropdown arrow을 제거 */
.dropdown-toggle::after { border: none; }

.second-row {
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.container.second-row ul {
    display: flex;
    flex-wrap: wrap;
}

.when-sm-appear {
    font-size: 1rem;
}

li.clone {
    padding: 0;
}

/* full screen flexslider */
.flexslider .slides > li {
    background-position: center;
    height: 100%;
    width: 100%;
    display: none;
    -webkit-backface-visibility: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flexslider-container,
.flexslider .slides,
.flex-viewport {
    height: 100%;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

ul.slides {
    margin: 0;
    padding: 0;
}

.flexslider {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0px;
}
/* full screen flexslider ends here.*/